* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.13em;
    font-family: 'PT Sans','Noto Sans JP', sans-serif;
    color: #3E4550;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }


  html{
    scroll-behavior: smooth;
  }
/*TOP戻るボタン*/

  #page-top {
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    display: flex;
    position: fixed;
    border-radius: 50%; 
    position: absolute;
	position: relative;
    left: 90%;
  font-size: 50px;
  padding-top: 30px;
  }


#page-top::before {
	content: "";
	position: absolute;
	left: 60px;
	top: 0; 
	width: 60px;
	height: 100px;
	background: black;
	border-radius: 100px 60px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%; 
}

#page-top::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 100px; 
	background: black;
	border-radius: 60px 100px 0 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%; 
}

  #page-top:hover{
  }

  /*footer*/
  footer{
    margin-top: 15%;
    background-color: rgb(238, 238, 238);
    color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  footer h2{
    margin:10 0 0 20px;
  }

  footer h2 p{
    margin-top: 20rem;
  }

  /*header*/
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  header h1 {
    text-align: center;
    position: relative;
  }

  header h1::after {
    content: "";
    width: 50%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #5f4635;
  }

  header h1 img {
    width: 60px;
    margin-top: 2rem;
  }

  header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  header ul li a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  @media (min-width: 769px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
    }
    header h1 {
      content: none;
      height: 100px;
    }
    header h1::after {
      content: none;
    }
    header ul {
      margin-top: 0;
      height: 100%;
    }
    header li {
      display: flex;
      align-items: center;
    }
  }

/*mv*/
.mv h1{
    font-size: 3rem;
}

.mv-text {
    /* 画面高さの80% */
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("");
    background-size: cover;
    background-position: 50% 25%;
  }


/*about*/
#about{
    margin-top: 15rem;
}

#about h1{
    
}

#about h2{
    font-size: 3rem;
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.works-container p{
    margin-bottom: 9rem;
}