* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.13em;
    font-family: 'PT Sans','Noto Sans JP', sans-serif;
    color: #3E4550;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }


  html{
    scroll-behavior: smooth;
  }
/*TOP戻るボタン*/


  #page-top {
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    display: flex;
    position: fixed;
    border-radius: 50%; 
    position: absolute;
	position: relative;
    left: 90%;
    font-size: 2px;
    color: white;
  }


#page-top::before {
	content: "";
	position: absolute;
	left: 30px;
	top: 0; 
	width: 30px;
	height: 50px;
	background: black;
	border-radius: 100px 60px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%; 
}

#page-top::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 50px; 
	background: black;
	border-radius: 60px 100px 0 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%; 
}

  #page-top:hover{
  }

  /*footer*/
  footer{
    margin-top: 15%;
    background-color: rgb(238, 238, 238);
    color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  footer h2{
    margin:10 0 0 20px;
  }

  footer h2 p{
    margin-top: 20rem;
  }

  /*header*/
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
  }

  header h1 {
    position: absolute;
    left: 10px;
    top: 10px; 
 }

  header h1 img {
    width: 60px;
  }

  header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  header ul li a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
  }
  


/*mv*/
.mv{
    margin-bottom: 5rem;
}

.mv h1{
    font-size: 3rem;
}

.mv-text {
    /* 画面高さの80% */
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("");
    background-size: cover;
    background-position: 50% 25%;
  }


/*about*/
#about{
    padding-top: 2;
    background-color: #d4d4d4;

}

#about h1{
    
}

#about h1 img{
    width: 150px;
}

#about h2{
    font-size: 3rem;
    margin-top: 15rem;
}

#about h3{
}

/*works*/
#works {
    margin-top: 4rem;
}

.works-container p{
    margin-bottom: 9rem;
}